.packs {
  background: #111111;
  padding: 4rem 1.25rem 6rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 800;
  color: #e3e3d9;
  line-height: 1.2;
  text-align: center;
}

@media (min-width: 767px) {
  .packs {
    padding: 5rem 2.5rem 6rem;
  }

  .title {
    font-size: 3rem;
    text-align: left;
  }
}