.section {
  display: flex;
  flex-direction: column;
  padding: 4rem 1.5rem;
  background-color: #202020;
  padding-bottom: 8rem;
  gap: 4rem;
}

.title {
  color: #e3e3d9;
  font-size: 3rem;
  line-height: 1.2;
}

.description {
  color: #838383;
}

/* ────────────────────────────
   Tablet
──────────────────────────── */
@media (min-width: 767px) {

  .section {
  display: flex;
  flex-direction: column;
  padding: 4rem 2.5rem;
  background-color: #202020;
  padding-bottom: 8rem;
  gap: 4rem;
}
  .title {
    font-size: 4rem;
  }

  .description {
    color: #838383;
    font-size: 1.5rem;
  }
}

@media (min-width: 1023px) {
  .section {
    padding: 6rem 4rem 8rem;
  }

  .info {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  .title {
    font-size: 4.5rem;
  }

  .description {
    font-size: 1.6rem;
  }
}