.packs {
  background: #111111;
  padding: 4rem 1.25rem 6rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 800;
  color: #e3e3d9;
  line-height: 1.2;
  text-align: center;
}

@media (min-width: 767px) {
  .packs {
    padding: 5rem 2.5rem 6rem;
  }

  .title {
    font-size: 3rem;
    text-align: left;
  }
}

@media (min-width: 1023px) {
  .packs {
    padding: 6rem 4rem 7rem;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .title {
    font-size: 3.5rem;
  }
}

/* ────────────────────────────
   Desktop 1280px
──────────────────────────── */
@media (min-width: 1279px) {
  .packs {
    padding: 7rem 6rem 8rem;
  }

  .container {
    max-width: 1400px;
    gap: 2.5rem;
  }

  .title {
    font-size: 4rem;
  }
}

/* ────────────────────────────
   Desktop 1536px
──────────────────────────── */
@media (min-width: 1536px) {
  .packs {
    padding: 7rem 6rem 8rem;
  }

  .container {
    max-width: 1500px;
    gap: 2.5rem;
  }

  .title {
    font-size: 4rem;
  }
}