.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 120px;
  object-fit: contain;
}

@media (min-width: 767px) {
  .logo {
    width: 160px;
  }
}